@model Product_StoreViewModel

@{

    ViewData["Title"] = "Home Page";

    @*IEnumerable<Store> store = Model.Store;*@
    @*var store = Enum.GetValues(typeof(Product_StoreViewModel)).Cast<Product_StoreViewModel>().Select(v => new SelectListItem
    {
        Text = v.Store.ToString(),
        Value = v.Store.ToString()
    }).ToList();*@



}

@{ if (User.Identity.IsAuthenticated)
    {
        <h1>データを入力してください</h1>
        <form asp-action="Create">
            <div class="form-group">
                <p>日付</p>
                <input id="date" type="date" value="2017-06-01">
            </div>
            <div class="form-group">
                <p>店舗名</p>
                <select id="single" asp-for="Store" class="form-control" asp-items="ViewBag.SLIstore_VB" size="1"></select>
            </div>
            <p>商品名</p>
            @foreach (var item in Model.Product)
            {
                <div class="form-group">
                    <p>@item.Name</p>
                    <input class="form-control" /><span>個</span>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="作成" class="btn btn-primary" />
            </div>
        </form>
    }
    else
    {
        <h1>ログインしてください</h1>
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    }
}
<script>
    //selectボックスからmultiple削除
    const Nomultiple = document.getElementById("single");
    Nomultiple.removeAttribute("multiple");

    //日付にデフォルトで今日の日付を指定
    const date = new Date();
    const yyyy = date.getFullYear();
    let MM = date.getMonth() + 1;
    if (String(MM).length == 1) {
        MM = "0" + String(MM);
    }
    const dd = date.getDate();
    const today = yyyy + "-" + MM + "-" + dd;
    document.getElementById("date").setAttribute("value", today); 


</script>